.region-top-header-form nav.navigation ul {
  display: flex;
  flex-direction: row; }

.AdvancedBlock.home-checkout-schedule {
  background-color: #4489c1; }

.AdvancedBlock.home-open-wednesday {
  background-color: #b32d2c; }
