/* comments */
#edit-comment-body-0-format {
  display: none; }

#edit-comment-body-0-format-help {
  display: none; }

.form-item-comment-body-0-format {
  display: none; }

article.comment .content {
  display: flex;
  align-items: center; }
  article.comment .content ul.links {
    margin-bottom: 0; }

.comment-wrapper article {
  border-left: 2px solid var(--text-color, gray);
  padding-left: 1em;
  margin-bottom: 1em; }

.comment-wrapper input[data-drupal-selector='edit-preview'] {
  display: none; }

.comment-wrapper h2.comment-form__title {
  display: none; }

section.field--type-comment {
  margin: 1em; }

@media screen and (min-width: 768px) {
  /* desktop */
  section.field--type-comment {
    margin: 1em 5em; } }

:root {
  --header-bg: #ddd;
  --header-bg-scrolled: #ccc;
  --bs-link-color: var(--link-color);
  --bs-link-hover-color: var(--link-color-2); }

body {
  background: var(--bg-color); }

.Card,
.node--view-mode-teaser {
  background: var(--bg-color-2, white);
  border: 1px solid var(--text-color, gray); }

.node--view-mode-card h2 a,
.node--view-mode-teaser h2 a {
  color: var(--link-color-2); }

a,
.btn-link,
.nav-link,
.dropdown-item {
  color: var(--link-color); }

a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus,
.nav-link:hover,
.nav-link:focus,
.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--link-color); }

.btn-primary {
  color: var(--bg-color);
  background-color: var(--link-color);
  border-color: var(--emphasis-color-2, var(--bg-color)); }

.btn-primary:hover {
  color: var(--bg-color);
  background-color: var(--link-color-2);
  border-color: var(--link-color-2); }

a {
  color: var(--link-color);
  text-decoration: none; }

a:hover {
  color: var(--link-color-2); }

/* footer */
.featured-bottom,
.site-footer {
  background: var(--footer-bg); }
  .featured-bottom ul.nav a,
  .featured-bottom ul.navbar-nav a,
  .site-footer ul.nav a,
  .site-footer ul.navbar-nav a {
    color: var(--header-link-color); }

.site-footer__bottom {
  background-color: var(--footer-bg-2, var(--footer-bg)); }

/*
 * wasyaco colors
**/
:root {
  --text-color: red;
  --bg-color: #F8F3E8 ;
  --bg-color-2: white;
  --bg-color-transparent: rgba(253, 254, 231, 0.5);
  --emphasis-color: #FFC107;
  --emphasis-color-2: #DFAF00;
  /* footer */
  --footer-bg: #b3b3b3;
  /* last footer color */
  --footer-bg-2: rgba(48,48,48, 0.7);
  --header-bg: rgba(0,0,0, 0.5);
  --header-bg-scrolled: rgba(0,0,0, 0.2);
  --header-color: white;
  --header-link-color: white;
  --link-color: #5c8464;
  --link-color-2: #005303; }
