
:root {
  --text-color: black;
  // --bg-color: #efe; // 238 255 238
  // --bg-color-transparent: rgba(238, 255, 238, 0.5);
  --bg-color: #F8F3E8 ; // #fcfcf3; // #fbfdce;
  --bg-color-2: white;
  --bg-color-3: #4A3326; // #5A4030; // #3B2A20; // 5A4030
  --bg-color-4: rgba(48,48,48, 0.7);
  --bg-color-transparent: rgba(253, 254, 231, 0.5);

  --emphasis-color: #FFC107; // #FFD600;
  --emphasis-color-2: #DFAF00;


  --header-bg: rgba(0,0,0, 0.5);
  --header-bg-scrolled: rgba(0,0,0, 0.2);

  --header-color: white;
  --header-link-color: white;

  --link-color: #5c8464; // #31513A; // #27d137;
  --link-color-2: #005303;
  --bs-link-color: var(--link-color);
  --bs-link-hover-color: var(--link-color-2);
}




.node--view-mode-card h2 a,
.node--view-mode-teaser h2 a{
  color: var(--link-color-2);
}

a,
.btn-link,
.nav-link,
.dropdown-item {
  color: var(--link-color);
}

a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus,
.nav-link:hover,
.nav-link:focus,
.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--link-color);
}


.btn-primary {
  color: var(--bg-color);
  background-color: var(--link-color);
  border-color: var(--emphasis-color-2, var(--bg-color));
}
.btn-primary:hover {
  color: var(--bg-color);
  background-color: var(--link-color-2);
  border-color: var(--link-color-2);
}
a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--link-color-2);
}

/* footer */

.site-footer {
  background-color: var(--bg-color-3);

  padding-bottom: 0;

  ul.nav {
    display: flex;
    flex-direction: column;
  }

  ul.nav,
  ul.navbar-nav {
    a {
      color: var(--header-link-color);
    }
  }

}
.site-footer__bottom {
  background-color: var(--bg-color-4, var(--bg-color-3));

  .region {
    margin-top: 0;
  }
}
