
:root {
  --text-color: black;
  // --bg-color: #efe; // 238 255 238
  // --bg-color-transparent: rgba(238, 255, 238, 0.5);
  --bg-color: #fbfdce;
  --bg-color-transparent: rgba(253, 254, 231, 0.5);

  --bg-color-2: white;

  --header-bg: rgba(0,0,0, 0.5);
  --header-bg-scrolled: rgba(0,0,0, 0.2);

  --header-color: white;
  --header-link-color: white;

  --link-color: #27d137;
  --link-color-2: #005303;
  --bs-link-color: var(--link-color);
  --bs-link-hover-color: var(--link-color-2);
}


.btn-primary:hover {
  color: var(--bg-color);
  background-color: var(--link-color-2);
  border-color: var(--link-color-2);
}

.node--view-mode-card h2 a,
.node--view-mode-teaser h2 a{
  color: var(--link-color-2);
}

a,
.btn-link,
.nav-link,
.dropdown-item {
  color: var(--link-color);
}

a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus,
.nav-link:hover,
.nav-link:focus,
.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--link-color);
}


.btn-primary {
  color: var(bg-color);
  background-color: var(--link-color);
}
a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--link-color-2);
}

