
.system-branding {
  position: relative;

  .site-name-slogan {
    position: absolute;
    bottom: 0.0rem;
    left: 1rem;
    z-index: -1;
  }
}

footer.site-footer {
  background-position: bottom;
  background-attachment: fixed;

  .region-footer-first {
    width: 100%;
  }
}
